backend/serviceAccountKey.json
backend/node_modules/

firmware/.pio/

app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies

.vscode/
*.code-workspace

.DS_Store
Thumbs.db

.env
*.env